@charset "UTF-8";
/* CSS Document */

.hidden {
    display: none;
}

#container {
    margin: 20px auto;
    width: 428px;
    border: solid 1px #333;
    border-radius: 20px;
}

.grid-con {
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-column-gap: 16px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 50px auto;
}

.col-span-1	{grid-column: span 1 / span 1;}
.col-span-2	{grid-column: span 2 / span 2;}
.col-span-3	{grid-column: span 3 / span 3;}
.col-span-4	{grid-column: span 4 / span 4;}

.col-span-full {grid-column: 1 / -1;}

.col-start-1	{grid-column-start: 1;}
.col-start-2	{grid-column-start: 2;}
.col-start-3	{grid-column-start: 3;}
.col-start-4	{grid-column-start: 4;}

article {
    grid-column: 1/-1;
}

img {
    margin-top: 20px;
    margin-bottom: 30px;
}

h2 {
    font-family: "Josefin Sans", sans-serif;
}

p {
    font-family: "Manrope", sans-serif;
    line-height: 1.6;
    font-size: 16px;
}

#article-one {
    position: relative;
    height: 340px;
}

#article-two {
    height: 400px;
}

#article-one-img {
    background-image: url(../images/bottle_nature.jpg);
    background-size: cover;
    background-position: center;
    height: 35%;
    margin-top: 20px;
    border-radius: 10px;
}

#article-one-heading {
    font-size: 72px;
    letter-spacing: 7px;
    margin-bottom: -20px;
    margin-top: 20px;
    color: #FD7400;
}

#article-one-text {
    margin-top: 0px;
}

#article-two-img {
    background-image: url(../images/bottle_tennis.jpg);
    background-size: cover;
    background-position: center;
    height: 49%;
    margin-top: 20px;
    border-radius: 10px;
}

#article-two-body::first-letter {
    font-family: "Josefin Sans", sans-serif;
    font-size: 48px;
    line-height: 25.6px;
    font-weight: 350;
    color: #FD7400;
}

#article-two-body {
    margin-top: 30px;
}

.bold {
    font-weight: 800;
    color: #FD7400;
}

.underline {
    text-decoration: underline;
}

#article-three-img {
    background-image: url(../images/dudewithmilk.jpg);
    background-size: cover;
    border-radius: 10px;
}

